Source: libapache2-mod-yangrpc-example
Section: net
Priority: optional
Maintainer: Vladimir Vassilev <vladimir@lightside-instruments.com>
Build-Depends: debhelper (>= 10), autoconf, libxml2-dev, libtool, libyuma-dev (>= 2.13), libyangrpc-dev (>= 2.13), apache2-dev
Standards-Version: 4.1.4
Homepage: https://yuma123.org

Package: libapache2-mod-yangrpc-example
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, debconf, lsb-base, libyangrpc2 (>= 2.12), apache2
Description: Example apache2 module using libyangrpc2 API to retrieve
 YANG data over NETCONF and represent it as HTML.
 .
 The module needs to be configured to connect to running NETCONF server.
