Source: yuma123-netconfd-module-ietf-interfaces
Section: net
Priority: optional
Maintainer: Vladimir Vassilev <vladimir@lightside-instruments.com>
Build-Depends:
 debhelper (>= 10),
 autoconf,
 libncurses5-dev,
 libreadline-dev,
 libssh2-1-dev,
 libssl-dev,
 libtool,
 libxml2-dev,
 libyuma-dev (>= 2.14),
 zlib1g-dev
Standards-Version: 4.1.4
Homepage: http://yuma123.org

Package: netconfd-module-ietf-interfaces
Architecture: linux-any
Depends: ${shlibs:Depends}, ${misc:Depends}, debconf, lsb-base (>= 3.2-13), libyuma2 (>= 2.14), iproute2, net-tools
Description: SIL module for netconfd implementing ietf-interfaces.yang
 The NETCONF protocol and YANG modeling language provide a framework
 for the exchange of management information between agents (servers)
 and clients.
 .
 The yuma123 netconfd module ietf-interfaces implements the functionality
 modeled in ietf-interfaces.yang using some common command line tools.
