Source: yuma123-netconfd-module-ietf-interfaces
Section: net
Priority: extra
Maintainer: Vladimir Vassilev <vladimir@transpacket.com>
Build-Depends: debhelper (>= 7), autoconf, dh-autoreconf, libncurses5-dev, libssh2-1-dev, libxml2-dev, libtool, libreadline-dev, zlib1g-dev, libssl-dev, libyuma-dev (>= 2.8)
Standards-Version: 3.9.6
Homepage: http://transpacket.com/

Package: netconfd-module-ietf-interfaces
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, debconf, lsb-base (>= 3.2-13), libyuma2 (>= 2.8)
Description: SIL module for netconfd implementing ietf-interfaces.yang
 The Netconf protocol and YANG modeling language provide a framework
 for the exchange of management information between agents (servers)
 and clients.
 .
 The yuma123 netconfd module ietf-interfaces implements the functionality
 modeled in ietf-interfaces.yang using some common command line tools.
