[Unit]
Description=yuma123 netconfd server
Documentation=man:netconfd(1) man:sshd(8) man:sshd_config(5)
After=network.target auditd.service

[Service]
Type=simple
EnvironmentFile=-/etc/default/netconfd
ExecStartPre=/usr/sbin/netconfd --validate-config-only
ExecStart=/usr/sbin/netconfd $NETCONFD_OPTS --startup=/var/lib/netconfd/startup-cfg.xml --superuser=root
ExecReload=/bin/kill -HUP $MAINPID
KillMode=control-group
RuntimeDirectory=netconfd
RuntimeDirectoryMode=0755

[Install]
WantedBy=multi-user.target
Alias=netconfd.service
