Source: yuma-tools
Section: devel
Priority: extra
Maintainer: Andy Bierman <andyb@iwl.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.1
Homepage: http://yuma.iwl.com/

Package: yuma-tools
Architecture: any
Depends: libxml2, ${shlibs:Depends}, ${misc:Depends}
Description: YANG-based Unified Modular Automation tools (libs)
 Yuma Tools is a YANG-based NETCONF-over-SSH client and server
 development toolkit.

Package: yuma-tools-dev
Architecture: any
Depends: yuma-tools, ${shlibs:Depends}, ${misc:Depends}
Description: YANG-based Unified Modular Automation tools (dev)
 Yuma Tools is a YANG-based NETCONF-over-SSH client and server
 development toolkit.  This package contains H files, scripts,
 and other files needed to create server instrumentation code
 for use with the netconfd server.


