#!/usr/bin/make -f
#export DH_VERBOSE=1


%:
	dh $@ --with autotools-dev,autoreconf


override_dh_auto_configure:
	dh_auto_configure -- --prefix=/usr --sysconfdir=/etc --mandir=/usr/share/man \
	  --with-persistent-directory=/var/lib/yuma \
	  --enable-shared --with-cflags="$(CFLAGS)" \
	  --with-ldflags="$(LDFLAGS)"

override_dh_strip:
	dh_strip -plibyuma$(LIB_VERSION) --dbg-package=libyuma$(LIB_VERSION)-dbg
	dh_strip -plibyangrpc$(LIB_VERSION) --dbg-package=libyangrpc$(LIB_VERSION)-dbg
	dh_strip

override_dh_installdocs:
	dh_installdocs --link-doc=libyuma$(LIB_VERSION) \
		       -plibyuma-dev \
		       -plibyuma$(LIB_VERSION)-dbg \
		       -pnetconfd \
		       -pyangcli
	dh_installdocs  -plibyuma-base
	# dh_installdocs has a bug when --link-doc is called it don't install copyright file to referenced package
	# so specify to copy it
	install -d $(CURDIR)/debian/libyuma$(LIB_VERSION)/usr/share/doc/libyuma$(LIB_VERSION)/
	install -m644 debian/copyright $(CURDIR)/debian/libyuma$(LIB_VERSION)/usr/share/doc/libyuma$(LIB_VERSION)/
	install -d $(CURDIR)/debian/libyangrpc$(YANGRPC_LIB_VERSION)/usr/share/doc/libyuma$(YANGRPC_LIB_VERSION)/
	install -m644 debian/copyright $(CURDIR)/debian/libyangrpc$(YANGRPC_LIB_VERSION)/usr/share/doc/libyangrpc$(YANGRPC_LIB_VERSION)/

