Source: yuma123-perl
Section: net
Priority: extra
Maintainer: Vladimir Vassilev <vladimir@transpacket.com>
Build-Depends: debhelper (>= 10), autoconf, libyuma-dev (>=2.11), libyangrpc-dev (>=2.11)
Standards-Version: 4.1.4
Homepage: https://sourceforge.net/projects/yuma123

Package: libyuma-perl
Section: perl
Architecture: any
Depends: ${perl:Depends}, ${shlibs:Depends}, ${misc:Depends}, libxml-libxml-perl, libyuma2 (>=2.11), libyangrpc2 (>=2.10)
Description:  NETCONF/YANG Perl5 support
 The NETCONF protocol and YANG modeling language provide a framework
 for the exchange of management information between agents (servers)
 and clients.
 .
 The yuma123 Perl5 support files provide the Perl functions for
 integration of NETCONF/YANG into applications written in Perl.
