Source: yuma123-python
Section: net
Priority: extra
Maintainer: Vladimir Vassilev <vladimir@transpacket.com>
Build-Depends: debhelper (>= 7), autoconf, dh-autoreconf, python2.7-dev, libyuma-dev (>=2.9), libyangrpc-dev (>=2.9)
Standards-Version: 3.9.8
Homepage: https://sourceforge.net/projects/yuma123

Package: python-yuma
Section: python
Architecture: any
Depends: ${python:Depends}, ${shlibs:Depends}, ${misc:Depends}, python-lxml, libyuma2 (>=2.9), libyangrpc2 (>=2.9)
Provides: libyuma-python, ${python:Provides}
XB-Python-Version: ${python:Versions}
Description:  Netconf/YANG Python support
 The Netconf protocol and YANG modeling language provide a framework
 for the exchange of management information between agents (servers)
 and clients.
 .
 The yuma123 Python support files provide the Python functions for
 integration of netconf/YANG into applications written in Python.

