Source: yuma123-python
Section: net
Priority: optional
Maintainer: Vladimir Vassilev <vladimir@lightside-instruments.com>
Build-Depends:
 debhelper (>= 10),
 autoconf,
 libxml2-dev,
 libyangrpc-dev (>= 2.13),
 libyuma-dev (>= 2.13),
 pkg-config,
 dh-python,
 python3-all-dev:native,
 libpython3-all-dev
Standards-Version: 4.4.1
Homepage: https://yuma123.org

Package: python3-yuma
Section: python
Architecture: any
Depends: ${python3:Depends}, ${shlibs:Depends}, ${misc:Depends}, python3-lxml, libyuma2 (>=2.13), libyangrpc2 (>=2.13)
X-Python3-Versions: ${python3:Versions}
Provides: libyuma-python, ${python3:Provides}
Description:  NETCONF/YANG Python support
 The NETCONF protocol and YANG modeling language provide a framework
 for the exchange of management information between agents (servers)
 and clients.
 .
 The yuma123 Python support files provide Python functions for
 integration of NETCONF/YANG into applications written in Python.

